body {
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
footer{
 background-color:crimson;
 padding: 30px;
 margin-bottom:40px;
}
#imglogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box{
  margin:0 auto; 
  width:600px ;
  padding: 20px;
  background:#f9f9f9;
  border:2px solid #333;
  }
  .namePart{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }


/* Parent Container */
.content_img{
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
 }
 
 /* Child Text Container */
 .content_img div{
  position:absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility:collapse;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */
 .content_img:hover{
  cursor: pointer;
 }
 
 .content_img:hover div{
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
 }
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
form textarea{
  resize: none;
}
.image-container { 
    width:300px;
    height:150px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container img {
    height:100%;
}
